In [3]:
import numpy as np
import pandas as pd
import statsmodels
from statsmodels.stats.descriptivestats import sign_test

Section 13-2

In [4]:
df = [6210,	3150,	2700,	3012,	4875, 3540,	6127,	2581,	2642,	2573, 2792,	2800,	2500,	3700,	6030, 5437,	2758,	3490,	2851,	2720]

In [5]:
sign_test(df)

(10.0, 1.9073486328125e-06)

sign.te

In [26]:
from scipy.stats.morestats import binom_test
test_value = binom_test(x=15, n=40, alternative = "less")
test_value

0.07692997208141605

Section 13-3
Use the Wilcoxon ra

In [28]:
from scipy.stats import ranksums
groupm = [8,	12,	6,	14,	22,	27,	32,	24,	26, 19,	15,	13]
groupf = [7,	5,	2,	3,	21,	26,	30,	9,	4,	17, 23,	12,	11,	16] # a shifted distribution
ranksums(groupm, groupf)

RanksumsResult(statistic=1.4915990496335552, pvalue=0.1358042875031563)

In [29]:
groupNF = [89,	96,	88,	101,	90,	91,	92,	96,	108,	100,	95]
groupAL = [108,	86,	91,	97,	100,	102,	95,	104,	95,	89,	88,	101] # a shifted distribution
ranksums(groupNF, groupAL)

RanksumsResult(statistic=-0.43082021842766455, pvalue=0.6665990972678644)

Section 13-5
Use the Kruskal-Wa

In [ ]:
# Import libraries
from scipy import stats
# Defining data groups
data_groupWH = [527, 406, 474, 381, 411]
data_groupE = [520, 510, 513, 548, 496]
data_groupEA = [523, 547, 547, 391, 549]
# Conduct the Kruskal-Wallis Test
stats.kruskal(data_groupWH, data_groupE, data_groupEA)

KruskalResult(statistic=4.167441860465113, pvalue=0.12446621937286355)


Section 13-6:
Subway and Commuter Rail Passengers

In [36]:
from scipy.stats import spearmanr

#calculate Spearman Rank correlatio
spearmanr([845,	494,	425,	313,	108,	41], [39,	291,	142,	103,	33,	38])

SpearmanrResult(correlation=0.6, pvalue=0.20799999999999982)

Section 14-3

#Prizes in caramel corn boxes

In [56]:
# List all possible outcomes. They are 1,2,3,4 box
possible_list = [1,2,3,4]

# probabilities to each outcome list. Since each item is given an equal probability
prob = 1/4

# check the experiment outcomes
df = pd.DataFrame(columns={'Trials', 'Tosses', 'Number_of_tosses'})

number_of_trials = 40

for i in range(1, number_of_trials+1):
  number_of_tickets_per_trial = random.randint(1, random.randint(1,40))
  choices_per_trial = [np.random.choice(possible_list, p=[prob, prob, prob, prob]) for i in range(number_of_tickets_per_trial)]

  trial = {"Trials": i, "Tosses": [choices_per_trial], "Number_of_tosses": len(choices_per_trial) }
  data=df.append(pd.DataFrame(trial), ignore_index=True)
print("The trials conducted are in table below:")
display(data)

# Compute the result 
avg_num_tickets = sum(data['Number_of_tosses'])/data.shape[0]

# Summarize the results
print(f"Average number of boxes to be bought to get all 4 are {round(avg_num_tickets)} in {number_of_trials} trials")

The trials conducted are in table below:

  Trials        Tosses Number_of_tosses
0     40  [4, 2, 4, 3]                4

Average number of boxes to be bought to get all 4 are 4 in 40 trials

#Lottery Winner

In [50]:
import random
# List all possible outcomes a,b and c 
proba_list = ['b', 'i', 'g']
#probabilities to each outcome
data_points = 3
prob_b = 60/100
prob_i = 30/100
prob_g = 10/100

#check the experiment outcomes
df = pd.DataFrame(columns = {'Trials', 'Tosses', 'Number_of_tosses'})

number_of_trials=30
for i in range(1, number_of_trials+1):
  number_of_tickets_per_trial = random.randint(1, random.randint(1,30))
  choices_per_trial = [np.random.choice(['b', 'i', 'g'], p=[prob_b, prob_i, prob_g]) for i in range(number_of_tickets_per_trial)]
  trial={"Trials": i, "Tosses": [choices_per_trial], "Number_of_tosses": len(choices_per_trial)}
  df = df.append(pd.DataFrame(trial), ignore_index=True)
display(df)

   Trials                                             Tosses Number_of_tosses
0       1   [i, b, i, b, b, b, i, b, b, g, b, b, b, g, b, b]               16
1       2                                          [b, i, b]                3
2       3                                       [b, g, b, i]                4
3       4                                             [b, i]                2
4       5  [i, b, b, b, b, g, i, b, g, b, b, i, i, i, i, ...               24
5       6  [i, i, b, b, g, i, b, b, b, i, i, b, i, i, i, ...               22
6       7  [i, b, i, b, g, b, b, i, b, b, i, b, b, g, i, ...               18
7       8  [b, b, b, g, b, b, b, b, b, b, g, b, b, i, i, ...               18
8       9                  [b, b, i, b, i, b, i, b, b, i, b]               11
9      10                        [b, b, b, i, i, b, g, i, b]                9
10     11                                       [i, b, i, i]                4
11     12                                                [b]                1
12     13  [b, b, b, g, g, b, b, b, b, b, b, b, i, b, i, ...               21
13     14                                                [b]                1
14     15      [b, b, b, i, i, b, b, b, i, b, b, b, b, g, b]               15
15     16         [b, b, b, b, g, g, b, i, g, b, b, g, b, i]               14
16     17                           [b, b, i, b, b, g, b, b]                8
17     18                                                [b]                1
18     19                                    [i, i, b, b, b]                5
19     20                                                [b]                1
20     21                                             [i, g]                2
21     22  [b, i, b, i, i, i, b, b, b, b, b, b, i, i, i, ...               19
22     23            [b, i, b, i, b, b, i, b, i, i, i, b, i]               13
23     24  [g, b, b, g, i, b, b, b, b, b, b, b, b, b, i, ...               23
24     25  [b, b, b, g, i, i, b, b, i, i, i, i, b, b, b, ...               22
25     26                                          [b, b, b]                3
26     27            [b, b, b, b, i, b, b, b, b, b, i, b, b]               13
27     28                                             [i, b]                2
28     29                                          [b, i, b]                3
29     30                     [i, b, b, i, i, i, b, b, b, b]               10

In [51]:
#Compute the result 
avg_num_tickets = sum(df['Number_of_tosses'])/df.shape[0]
# Summarize the results
print(f"Average number of tickets a person must buy is {round(avg_num_tickets)} in {number_of_trials} trials")

Average number of tickets a person must buy is 10 in 30 trials